html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-box {
  width: 100%;
  height: 8.4vw;
  background-color: beige;
}

.nav-box  {
  margin: auto;
  height: 100%;
  width: 75%;
  display: flex;    
}

.anchor {
  margin: auto;
  color: black;
  text-decoration: none;
  font-size: 2.8vw;
  padding: 12px
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
}

.intro-box {
  display: flex;
  height: 100%;  
}

.image-container {
  width: 50%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1-container {
  width: 50%;  
  height: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

.h1 {
  font-size: 4.5vw;
  color: white;
  text-shadow: 1px 1px 1px black;  
  padding: 6rem
}

.intro-pic {
  width: 60%;  
  border-radius: 50%;
}

.arrow {
  border: solid black;
  border-width: 0 .8vw .8vw 0;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: rgb(94, 3, 94);
  font-size: 2.6vw;
}

.right {
  transform: rotate(-45deg);
}

.About {
  width: 100%;
  display: flex
}
.about_box {
  width: 50%;
  background-color: rgb(214, 213, 213);
}

.about-paragraph {
  font-size: 3.4vw;
}

.skills {
  width: 50%;    
}

.skill_icon {
  width: 12vw;
  height: 12vw;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-image {
  width: 90%
}

.projects-header {
  margin: auto;
  padding-top: 1.5rem;
  font-size: 2rem;
  text-shadow: 2px 2px 2px lightcoral
}

.projects { 
  background-color: lightblue;
}

.project-container {
  display: flex
}

.project1 {
  padding: 1rem;
  width: 30%;  
  margin: 2.5rem 1.5rem;
  border: 3px solid lightcoral;
  border-radius: .8rem
}

.git-icon {
  width: 22%
}

.popup {
  cursor: pointer
}

.popup2 {
  cursor: pointer
}

.popup3 {
  cursor: pointer
}

.popup .popuptext {
  display: none;
  width: 50%;  
  border-radius: .6rem;
   
}

.popup .show {
  display: initial
}

.popup2 .popuptext2 {
  display: none;
  width: 50%;  
  border-radius: .6rem;  
}

.popup3 .popuptext3 {
  display: none;
  width: 50%;  
  border-radius: .6rem;  
}

.popup2 .show2 {
  display: initial
}

.popup3 .show3 {
  display: initial
}

.contact {
  padding-top: 2rem;
  background-color: ghostwhite;
}

.email-header {
  font-size: 2.4rem;
}

.artifact-font {
  font-size: 1.8rem;
  color: crimson
}

.artifacts {
  width: 65%;
  margin: auto;
 
}

.artifact-image {
  width: 15%;
  padding: 4rem
}

.artifact-image1 {
  width: 25%;
  padding: 6rem
}


